<h1>
  {{user.name}}
</h1>
<div class="detail">
  <span>Start: {{user.startWeight| number:'1.1-1'}}kg</span>
  <span>aktuell: {{user.currentWeight| number:'1.1-1'}}kg</span>
  <span>Ziel: {{user.targetWeight| number:'1.1-1'}}kg</span>
</div>

<circle-progress
  [animationDuration]="300"
  [animation]="true"
  [innerStrokeColor]="'#c4e0e5'"
  [innerStrokeWidth]="6"
  [outerStrokeColor]="'#4ca1af'"
  [outerStrokeWidth]="12"
  [percent]="percent()"
  [radius]="60"
  [showSubtitle]="false"
  [titleFontSize]="50"
  [units]="'%'"
></circle-progress>

<div class="detail">
  <span>Update: {{user.lastUpdate.toDate()|date:'d.M.yyyy'}}</span>
</div>
