:host {
  display: flex;
  @media screen and (min-width: 860px) {
    height: 100vh;
  }
  align-items: center;
  justify-content: center;
}

.main {
  grid-template-columns: 1fr 1fr;
  grid-template-areas: ". ." "chart chart" "list list" "back-button back-button";
  width: 500px;
}

.chart {
  grid-area: chart;
}

.list {
  grid-area: list;
}

.back-button {
  grid-area: back-button;
}

input {
  font-size: 80px;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: #c4e0e5 1px solid;
  transition: 300ms;
  padding: 0;

  &:focus {
    border-bottom: #4ca1af 1px solid;
  }
}

.weight-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
