<div class="main">
  <div *ngIf="(user$|async) as user" class="card">
    <app-user-info [user]="user"></app-user-info>
  </div>
  <div class="card">
    <h1>Neuer Eintrag</h1>
    <div class="detail">Ich wiege jetzt</div>
    <input [(ngModel)]="weight" step="0.1" type="number">
    <button (click)="addWeight()" *ngIf="weight">Absenden</button>

  </div>

  <div #chart class="card chart">
    <ngx-charts-line-chart
      [autoScale]="true"
      [results]="chart$|async"
      [showRefLabels]="false"
      [view]="view"
      [xAxis]="xAxis"
      [yAxis]="yAxis"

    >
    </ngx-charts-line-chart>
  </div>

  <div class="card list">
    <div *ngFor="let weight of weights$|async" class="weight-item">
      <span>{{weight.date.toDate()|date:'d.M.yyyy HH:mm'}}</span>
      <span>{{weight.weight| number:'1.1-1'}}kg</span>
    </div>
  </div>

  <div class="card back-button">
    <button routerLink="/dashboard">Übersicht</button>
  </div>

</div>
